<Configuration status="info"> 
    <Appenders> 
        
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
         <File name="FILE" fileName="app.log"> 
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" /> 
        </File>
    </Appenders> 
    <Loggers> 
        <Logger name="org.hibernate.SQL" level="DEBUG"> 
            <AppenderRef ref="FILE"/> 
        </Logger> 
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE"> 
            <AppenderRef ref="FILE"/> 
        </Logger> 
        <Root level="all"> 
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE" level="info"/>  
        </Root> 
        
    </Loggers> 
</Configuration>